body {
  background: linear-gradient(to left, black, red,white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: lightpink;
}

.main {
  text-align: center;
}

.welcome-text {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;

}

.login {
  background: linear-gradient(to left, black, red,white);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 320px;
}

input {
  padding: 10px;
  background: linear-gradient(to left, red,white);
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 220px;
  border: none;
  color: black;
}

button {
  width: 220px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: black;
  color: brown;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
    transform-style: preserve-3d;
    transform:  scale(1.2);
    background-color: gold;
    color: black;
}
